* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --azul-oscuro-header : hsl(217, 28%, 15%);
    --azul-oscuro-principal : hsl(218, 28%, 13%);
    --azul-oscuro-footer : hsl(216, 53%, 9%);
    --azul-oscuro-testminonio : hsl(219, 30%, 18%);
    --red : hsl(0, 100%, 63%);
    --white : hsl(0, 0%, 100%);
    --white-bajo : #d0d6e0;
    --verde : hsl(198, 60%, 50%);
}

body{
    color: var(--white);
    font-family: 'Open Sans', sans-serif;

}

.header{
    background: var(--azul-oscuro-header);
    position: relative;
    font-family: 'Raleway', sans-serif;

}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}


.curva-desktop{
    display: none;
}
.curva-mobile{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.nav .logo{
    width: 80px;
}
.nav__link{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.nav__link .link{
    text-decoration: none;
    font-size: 13px;
    color: var(--white-bajo);
}
.curva-mobile{
    position: absolute;
    width: 100%;
    bottom: 190px;
}
.prueba {
    width: 100%;
    height: 192px;
    position: absolute;
    background: var(--azul-oscuro-principal);
    z-index: 1;
    bottom: -1px;

}

.header-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 20px;
    position: relative;
    z-index: 10;
}
.header-texto .ilustracion{
    width: 100%;
    min-width: 250px;
    max-width: 550px;
}
.header-texto .titulo{
    font-size: 20px;
    text-align: center;
}

.header-texto .parrafo{
    font-size: 13px;
    text-align: center;
    color: var(--white-bajo);
}

.btn{
    font-size: 13px;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(101,226,217,1) 23%, rgba(51,158,204,1) 58%);
    padding: 10px 55px;
    border: none;
    border-radius: 100px;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    transition: opacity .5s;
    cursor: pointer;
}


.main{
    background: var(--azul-oscuro-principal);
    padding: 40px 30px;
    padding-bottom: 200px;
    position: relative;
}
.seccion-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;

}
.card{
    width: 260px;
    text-align: center;
}
.card-imagen{
    width: 65px;
    margin-bottom: 20px;
}
.card .titulo{
    font-size: 16px;
    margin-bottom: 10px;
}
.card .parrafo{
    font-size: 12px;
}
.seccion-produccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0px;
}
.seccion-produccion .ilustracion{
    width: 100%;
    max-width: 650px;
    min-width: 200px;
}
.seccion-produccion-texto .titulo{
    font-size: 14px;
} 
.seccion-produccion-texto .parrafo{
    font-size: 11px;
    margin: 15px 0;
}
.btn-fylo{
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    border-bottom: 1px solid var(--verde);
    cursor: pointer;
    color: var(--verde);
    transition: color .5s;
}


.testimonio-personas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 70px 0px;
}
.testimonio{
    box-shadow: 0px 0px 0px 5px var(--azul-oscuro-header);
    border-radius: 5px;
    padding: 15px;
    background: var(--azul-oscuro-testminonio);
    position: relative;
}
.testimonio .quotes{
    width: 25px;
    position: absolute;
    top: -18px;
    left: 0;
}
.testimonio .parrafo{
    font-size: 12px;
    margin-bottom: 10px;
}
.testimonio-texto{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.imagen-perfil{
    width: 35px;
    height: 34px;
    border-radius: 50%;
}
.testimonio-texto .nombre{
    font-size: 13px;
    margin-bottom: -5px;    
    font-weight: 700;
}
.testimonio-texto .fundacion{
    font-size: 11px;
}

.informacion{       
    max-width: 750px;
    padding: 30px 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    position: absolute;
    bottom: -120px;
    left: 20px;
    right: 20px;
    background: var(--azul-oscuro-header);
}
.informacion .titulo{
    font-size: 15px;
    text-align: center;
}
.informacion .parrafo{
    font-size: 12px;
    text-align: center;
}

.formulario .email{
    width: 100%;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    margin: 10px 0;
}
.formulario .btn-informacion{
    width: 100%;
    border-radius: 100px;
    padding: 10px 10px;
    border: none;
    margin-top: 5px;

}



.mensaje-error{
    color: var(--red);
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    left: 40px;
    font-weight: 700;
    display: none;
}

.formulario-icorrecto .mensaje-error{
    display: block;
    bottom: 70px;
    font-size: 11px;
    left: 30px;
}
.formulario-icorrecto .btn{
    margin-top: 10px;
}

.footer{
    background: var(--azul-oscuro-footer);
    padding: 50px 30px;
    padding-top: 200px;
}

.footer .logo{
    margin-bottom: 40px;
}

.footer-contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.ubicacion{
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
}
.ubicacion-texto{
    font-size: 13px;

}

.address{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address-info{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.footer-lista{
    list-style: none;
}
.footer-lista-item{
    margin: 10px 0;
}

.footer-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-redes .fab{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
}

@media screen and (min-width:340px) {

    .curva-mobile{
        bottom: 150px;
    }
    .prueba{
        height: 152px;
    }
}

@media screen and (min-width:375px) {

    .header-texto{
        padding: 40px 30px;
    }

    .header-texto .titulo{
        font-size: 23px;
    }
    .header-texto .parrafo{
        font-size: 15px;
        color: var(--white-bajo);
    }

    .nav__link{
        gap: 25px;
    }

    .btn{
        font-size: 14px;
    }

    .seccion-card{
        gap: 90px;
    }
    .card{
        width: 340px;
    }
    .card-imagen{
        width: 80px;
    }
    .card .titulo{
        font-size: 18px;
    }
    .card .parrafo{
        font-size: 14px;
    }

    .curva-mobile{
        bottom: 180px;
    }
    .prueba{
        height: 182px;
    }


    .seccion-produccion .titulo{
        font-size: 18px;
    }

    .seccion-produccion .parrafo{
        font-size: 14px;
        color: var(--white-bajo);
    }

    .btn-fylo{
        font-size: 14px;
    }

    .informacion .titulo{
        font-size: 18px;
    }

    .informacion .parrafo{
        font-size: 14px;
        text-align: center;
        line-height: 20px;
    }
    .formulario .email{
        padding: 15px 20px;
    }
    .formulario .btn-informacion{
        padding: 15px 10px;
        margin-top: 10px;
    }

    .formulario-icorrecto .mensaje-error{
        bottom: 81px;
    }
}

@media screen and (min-width:400px) {


    .curva-mobile{
        bottom: 130px;
    }
    .prueba{
        height: 132px;
    }
}


@media screen and (min-width:760px) {

    .header{
        padding-bottom: 100px;
    }
    
    .header-texto{
        padding-top: 70px;
    }

    .header-texto .titulo{
        width: 50%;
        font-size: 2em;
    }
    .header-texto .parrafo{
        width: 60%;
        font-size: 14px;
        line-height: 23px;
    }

    .nav{
        padding: 40px;
    }

    .nav__link {
        gap: 50px;
    }

    .nav .logo{
        width: 100px;
    }

    .nav__link .link{
        font-size: 14px;
    }

    .curva-mobile{
        display: none;
    }
    .curva-desktop{
        display: block;
        width: 100%;
        position: absolute;
        bottom: 80px;
    }
    .prueba{
        height: 90px;
    }


    .main{
        padding: 50px;
        padding-top: 0;
        padding-bottom: 200px;
    }

    .seccion-card{
        gap: 45px;
    }
    .card{
        width: 300px;
    }
    .securite{
        width: 60px;
    }

    .seccion-produccion{
        flex-direction: row;
    }

    .testimonio-personas{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .testimonio{
        width: 100%;
        min-width: 300px;
        max-width: 350px;        
    }


    .informacion{
        max-width: 700px;
        left: 100px ;
        right: 100px;
    }

    .footer-contenido{
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .footer-contenido .ubicacion{
        width: 30%;
    }


}


@media screen and (min-width:1000px){


    .btn:hover{
        opacity: .8;
    }
    .btn-fylo:hover{
        color: var(--white);
        border-bottom: 1px solid var(--white);
    }

    .header-texto .parrafo{
        width: 35%;
    }

    .curva-desktop{
        bottom: 0px;
        height: 350px;
    }
    .prueba{
        display: none
    }

   .nav{
       padding: 50px;
    }
    .nav .logo{
        width: 130px;
    }

    .main{
        padding: 80px;
    }

    .card {
        width: 400px;
        padding: 20px;
    }
    .card .parrafo{
        font-size: 14px;
    }

    .seccion-produccion{
        justify-content: space-between;
    }
    .seccion-produccion .ilustracion{
        width: 600px;
    }

    .seccion-produccion .seccion-produccion-texto{
        width: 40%;
    }
    .seccion-produccion-texto .titulo{
        font-size: 2em;
        width: 80%;
    }

    .testimonio{
        padding: 25px;
    }

    .testimonio .parrafo{
        font-size: 14px;
    }
    
    .formulario{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .formulario .email{
        width: 63%;
    }
    .formulario .btn{
        max-width: 230px;
        margin: 0;
    }
    .formulario-icorrecto .mensaje-error{
        bottom: 20px;
    }

    .footer{
        padding: 60px 80px;
        padding-top: 200px;
    }
}

